In [43]:
import pandas as pd
import statsmodels.api as sm
from linearmodels.panel import PanelOLS

In [50]:
vrp_data = pd.read_excel('C:\\Users\\nsedoff\\Documents\\VSCODE\\ITiABD-PM22-7-Nikolay-Sedov\\econometrics\\SEM2\\balli\\data\\vrp.xlsx', sheet_name='2')
nasel_data = pd.read_excel('C:\\Users\\nsedoff\\Documents\\VSCODE\\ITiABD-PM22-7-Nikolay-Sedov\\econometrics\\SEM2\\balli\\data\\nasel.xlsx', sheet_name='1')
bezrab_data = pd.read_excel('C:\\Users\\nsedoff\\Documents\\VSCODE\\ITiABD-PM22-7-Nikolay-Sedov\\econometrics\\SEM2\\balli\\data\\bezrab.xlsx', sheet_name='1')
invest_data = pd.read_excel('C:\\Users\\nsedoff\\Documents\\VSCODE\\ITiABD-PM22-7-Nikolay-Sedov\\econometrics\\SEM2\\balli\\data\\invest.xlsx', sheet_name='2017')

In [51]:
print("Безработица данные:\n", bezrab_data.head(10))

Безработица данные:
   Дата обновления 11.03.2024  \
0                        NaN
1                        NaN
2                        NaN
3            Приморский край
4          городские округа:
5               Арсеньевский
6                Артемовский
7           Большой Камень1)
8            Владивостокский
9              Дальнегорский

                                          Unnamed: 1  Unnamed: 2  Unnamed: 3  \
0  Численность не занятых трудовой деятельностью ...         NaN         NaN
1                                                NaN         NaN         NaN
2                                               2001      2002.0      2003.0
3                                              28851     42513.0     41878.0
4                                                NaN         NaN         NaN
5                                               1257      1932.0      1383.0
6                                                914      1124.0      1048.0
7                                                NaN         NaN         NaN
8                                               4524      5763.0      4600.0
9                                                879      1462.0      1224.0

   Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2      2004.0      2005.0      2006.0      2007.0      2008.0      2009.0
3     45190.0     48072.0     44823.0     35438.0     33815.0     40360.0
4         NaN         NaN         NaN         NaN         NaN         NaN
5      1369.0      1540.0      1599.0      1087.0      1027.0      1024.0
6      1233.0      1063.0       763.0       768.0       723.0       772.0
7         NaN         NaN         NaN         NaN         NaN         NaN
8      4452.0      5158.0      3922.0      3124.0      3393.0      5080.0
9      1137.0       904.0       818.0       703.0      1056.0      1454.0

   ...  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18  \
0  ...          NaN          NaN          NaN          NaN          NaN
1  ...          NaN          NaN          NaN          NaN          NaN
2  ...       2014.0       2015.0       2016.0       2017.0       2018.0
3  ...      15931.0      19144.0      16938.0      11918.0      10079.0
4  ...          NaN          NaN          NaN          NaN          NaN
5  ...        478.0        533.0        490.0        285.0        423.0
6  ...        523.0        512.0        435.0        285.0        324.0
7  ...          NaN        296.0        275.0        162.0         98.0
8  ...       1408.0       2023.0       1895.0       1021.0        827.0
9  ...        432.0        523.0        531.0        391.0        264.0

   Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN    (человек)
2       2019.0       2020.0       2021.0       2022.0         2023
3      10758.0      18898.0      12593.0       7741.0         6155
4          NaN          NaN          NaN          NaN          NaN
5        506.0        777.0        442.0        348.0          239
6        185.0        445.0        331.0        192.0          187
7        112.0        161.0        134.0        104.0           92
8        780.0       3505.0       1676.0        825.0          775
9        322.0        561.0        390.0        226.0          156

[10 rows x 24 columns]

In [52]:
print("\nИнвестиции данные:\n", invest_data.head(10))

Инвестиции данные:
                           Дата обновления 04.09.2023  Unnamed: 1  Unnamed: 2  \
0  Инвестиции в основой капитал по видам экономич...         NaN         NaN
1                                                NaN      2017.0      2018.0
2                                         млн рублей         NaN         NaN
3                                 Инвестиции - всего     98402.8    111071.0
4                 в том числе по видам деятельсноти:         NaN         NaN
5  сельское, лесное хозяйство, охота, рыболовство...      8398.2     10619.7
6                         добыча полезных ископаемых      1650.3      2032.1
7                        обрабатывающие производства     21745.8     21062.6
8  обеспечение электрической энергией, газом, пар...     12372.1     14683.3
9  водоснабжение; водоотведение, организация сбор...       707.1       865.2

   Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
0         NaN         NaN         NaN         NaN
1      2019.0      2020.0      2021.0      2022.0
2         NaN         NaN         NaN         NaN
3    130901.8    150690.2    186253.1    248624.1
4         NaN         NaN         NaN         NaN
5     15883.2     22390.4     21686.9     34573.7
6      1893.9       968.6      1706.6      1818.5
7     15646.5     11440.0     23118.3     47050.1
8     11699.0     15413.3     14983.4     18239.3
9      1214.5      2325.4      2343.4      2382.2

In [54]:
print("\nЧисленность населения данные:\n", nasel_data.head(10))

Численность населения данные:
                           Дата обновления 01.04.2024 Unnamed: 1  \
0    Численность постоянного населения Приморског...        NaN
1                                                ...        NaN
2                                                NaN     20212)
3                                    Приморский край    1845165
4                                  городские округа:        NaN
5                                    Владивостокский     634835
6                                       Арсеньевский      47937
7                                        Артемовский     118842
8                                     Большой Камень      43663
9                                      Дальнегорский      39816

                  Unnamed: 2  Unnamed: 3  Unnamed: 4
0                        NaN         NaN         NaN
1  (на начало года; человек)         NaN         NaN
2                       2022      2023.0      2024.0
3                    1841961   1820076.0   1806393.0
4                        NaN         NaN         NaN
5                     635854    628385.0    622782.0
6                      47686     47306.0     47015.0
7                     118622    117858.0    117762.0
8                      43601     42271.0     42502.0
9                      39539     38999.0     38543.0

In [55]:
print("\nВРП данные:\n", vrp_data.head(10))

ВРП данные:
                                         К содержанию  Unnamed: 1  Unnamed: 2  \
0  Производство валового регионального продукта  ...         NaN         NaN
1                                         Показатель         NaN     2016.00
2  Валовой региональный продукт (в текущих основн...         NaN   860804.00
3  Индекс физического объема валового регионально...         NaN       97.70
4  Валовой региональный продукт на душу населения...         NaN   449626.00
5  Индекс физического объема валового регионально...         NaN       98.10
6   Доля валового регионального продукта Приморск...         NaN        1.16
7  1) Данные  динамического ряда, начиная с 2016 ...         NaN         NaN
8  2) Данные содержат изменения, связанные с учет...         NaN         NaN

   Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1     2017.00     2018.00     2019.00     2020.00     2021.00     2022.00
2   906265.00   965485.00  1069331.00  1105673.00  1354100.00  1539350.00
3      101.90      101.80      105.00       98.50      107.20      102.60
4   475867.00   510202.00   568198.00   591923.00   731915.00   840707.00
5      102.40      102.50      105.60       99.20      108.20      103.70
6        1.14        1.07        1.12        1.17        1.11        1.09
7         NaN         NaN         NaN         NaN         NaN         NaN
8         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 9
0
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN

In [56]:
# Вывод названий столбцов для каждого файла
print("ВРП данные:\n", vrp_data.columns)
print("\nДанные о численности населения:\n", population_data.columns)
print("\nДанные о безработице:\n", unemployment_data.columns)
print("\nДанные об инвестициях:\n", investments_data.columns)

ВРП данные:
 Index(['К содержанию', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

Данные о численности населения:
 Index(['Дата обновления 01.04.2024', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4'],
      dtype='object')

Данные о безработице:
 Index(['Дата обновления 11.03.2024', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

Данные об инвестициях:
 Index(['Дата обновления 26.09.2017', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [59]:
bezrab_data_cleaned = bezrab_data.iloc[3:, :].reset_index(drop=True)
bezrab_data_cleaned.columns = ['Region', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
bezrab_data_cleaned = bezrab_data_cleaned.drop(columns=[col for col in bezrab_data_cleaned.columns if 'Unnamed' in col])
bezrab_data_cleaned = bezrab_data_cleaned.melt(id_vars=['Region'], var_name='Year', value_name='Unemployment')
bezrab_data_cleaned['Year'] = bezrab_data_cleaned['Year'].astype(int)

In [60]:
print(bezrab_data_cleaned)

                                                Region  Year Unemployment
0                                      Приморский край  2001        28851
1                                    городские округа:  2001          NaN
2                                         Арсеньевский  2001         1257
3                                          Артемовский  2001          914
4                                     Большой Камень1)  2001          NaN
..                                                 ...   ...          ...
915                                         Шкотовский  2023           52
916                                        Яковлевский  2023          112
917  1)  ЗАТО Большой Камень являлось закрытым терр...  2023          NaN
918                      2) Включая район до 2003 года  2023          NaN
919  3)  ЗАТО Фокино является закрытым территориаль...  2023          NaN

[920 rows x 3 columns]

In [61]:
column_names = ['Region', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
invest_data_cleaned = invest_data.iloc[3:, :].reset_index(drop=True)
invest_data_cleaned.columns = column_names[:len(invest_data_cleaned.columns)]
invest_data_cleaned = invest_data_cleaned.melt(id_vars=['Region'], var_name='Year', value_name='Investment')
invest_data_cleaned['Year'] = invest_data_cleaned['Year'].astype(int)

In [62]:
print(invest_data_cleaned)

                                                Region  Year  Investment
0                                   Инвестиции - всего  2005     98402.8
1                   в том числе по видам деятельсноти:  2005         NaN
2    сельское, лесное хозяйство, охота, рыболовство...  2005      8398.2
3                           добыча полезных ископаемых  2005      1650.3
4                          обрабатывающие производства  2005     21745.8
..                                                 ...   ...         ...
259                                        образование  2010         4.2
260  деятельность в области здравоохранения и социа...  2010         1.5
261  деятельность в области культуры, спорта, орган...  2010         2.0
262                  предоставление прочих видов услуг  2010         0.0
263     1) Без субъектов малого предпринимательства...  2010         NaN

[264 rows x 3 columns]

In [63]:
column_names = ['Region', 'Description', '2021', '2022', '2023']
nasel_data_cleaned = nasel_data.iloc[3:, :].reset_index(drop=True)
nasel_data_cleaned.columns = column_names[:len(nasel_data_cleaned.columns)]
nasel_data_cleaned = nasel_data_cleaned.drop(columns=[col for col in nasel_data_cleaned.columns if 'Unnamed' in col or 'Description' in col])
nasel_data_cleaned = nasel_data_cleaned.melt(id_vars=['Region'], var_name='Year', value_name='Population')
nasel_data_cleaned['Year'] = nasel_data_cleaned['Year'].astype(int)

In [64]:
print(nasel_data_cleaned)

                                                Region  Year Population
0                                      Приморский край  2021    1841961
1                                    городские округа:  2021        NaN
2                                      Владивостокский  2021     635854
3                                         Арсеньевский  2021      47686
4                                          Артемовский  2021     118622
..                                                 ...   ...        ...
115                                       Михайловский  2023    28474.0
116                                       Надеждинский  2023    41960.0
117                                           Спасский  2023    19870.0
118  1) Муниципально-территориальное деление края п...  2023        NaN
119  2) Данные приведены по итогам ВПН-2020 (на 01....  2023        NaN

[120 rows x 3 columns]

In [67]:
vrp_data_cleaned = vrp_data.iloc[1:, :].rename(columns={vrp_data.columns[0]: 'Indicator'}).reset_index(drop=True)

# Фильтруем данные по нужному показателю
vrp_data_filtered = vrp_data_cleaned[vrp_data_cleaned['Indicator'] == 'Валовой региональный продукт (в текущих основных ценах), млн. рублей']
vrp_data_filtered = vrp_data_filtered.melt(id_vars=['Indicator'], var_name='Year', value_name='VRP')

# Удалим лишние строки и преобразуем тип данных
vrp_data_filtered = vrp_data_filtered.drop(columns=['Indicator'])
vrp_data_filtered['Year'] = vrp_data_filtered['Year'].astype(int)
vrp_data_filtered['VRP'] = vrp_data_filtered['VRP'].astype(float)
vrp_data_filtered['Region'] = 'Приморский край'

ValueError: invalid literal for int() with base 10: 'Unnamed: 1'

In [40]:
print(vrp_data)

    Содержание:                                         Unnamed: 1
0           NaN                                                NaN
1           1.0  Производство валового регионального продукта п...
2           2.0  Производство валового регионального продукта п...
3           3.0  Индекс физического объема валового регионально...
4           4.0  Индекс физического объема валового регионально...
5           5.0    Справочная информация о последующих публикациях
6           NaN                                                NaN
7           NaN                         Ответственный исполнитель:
8           NaN                           Фёдорова Алена Борисовна
9           NaN                                   8(423) 243-23-87
10          NaN                                                NaN
11          NaN                           Обновлено:  02.05.2024г.

In [25]:
bezrab_data_cleaned.rename(columns={'Region': 'region'}, inplace=True)
invest_data_cleaned.rename(columns={'Region': 'region'}, inplace=True)
nasel_data_cleaned.rename(columns={'Region': 'region'}, inplace=True)
vrp_data_cleaned.rename(columns={'Region': 'region'}, inplace=True)

In [26]:
merged_data = pd.merge(bezrab_data_cleaned, invest_data_cleaned, on=['region', 'Year'], how='outer')
merged_data = pd.merge(merged_data, nasel_data_cleaned, on=['region', 'Year'], how='outer')
merged_data = pd.merge(merged_data, vrp_data_cleaned, on=['region', 'Year'], how='outer')

In [27]:
import ace_tools as tools; tools.display_dataframe_to_user(name="Merged Data", dataframe=merged_data)

ModuleNotFoundError: No module named 'ace_tools'

In [28]:
print(merged_data.head())

                                              region  Year Unemployment  \
0     1) Без субъектов малого предпринимательства...  2005          NaN
1     1) Без субъектов малого предпринимательства...  2006          NaN
2     1) Без субъектов малого предпринимательства...  2007          NaN
3     1) Без субъектов малого предпринимательства...  2008          NaN
4     1) Без субъектов малого предпринимательства...  2009          NaN

  Investment Population  VRP
0        NaN        NaN  NaN
1        NaN        NaN  NaN
2        NaN        NaN  NaN
3        NaN        NaN  NaN
4        NaN        NaN  NaN